<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inicio</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'index'%}">Librería local</a>
      {% if user.is_authenticated %}
          <a class="navbar-brand js-scroll-trigger" style="color:#BEFF33">Hi! @{{ user.get_username}}</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Descrube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Consulta</a>
          </li>
          {%if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{%url 'logout_' %}">logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login'%}">login</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">sign in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1 style='color:#0B3149' >Bienvenido!</h1>
      <p class="lead">Busca el libro de tu interés </p>
      <form>
        <div class="form-row">
          <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input  class="form-control form-control-lg" placeholder="ingresa las parabras claves">
          </div>
          <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-block btn-lg btn-primary" >buscar!</button>
          </div>
        </div>
      </form>

    </div>

  </header>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Sobre esta página</h2>
          <p class="lead">Este espacio está destinado simular el funcionamiento de una biblioteca</p>
                   
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Libros</h2>
          <p class="lead">Actualmente contamos con <strong>{{num_books}}</strong> libros en coleeción y  <strong>{{num_instances_available}}</strong> disponibles, </p>
          <p class="lead"><strong>{{num_authors}}</strong> autores registrados en más de <strong>{{num_genres}}</strong> generos  </p>
          <p class="lead">Los siguientes listados están habilitados para explorar el contenido de la biblioteca:</p>              
            
          <ul>
            <li><a class="btn btn-default" role="button" href="{%url 'books'%}"> listado de libros</a></li>
            <li><a class="btn btn-default" role="button" href="{%url 'authors' %}">cantidad de authores registrados: {{num_authors}} </a></li>
            {% if user.is_authenticated %}
            <li><a class="btn btn-default" role="button"  href="">libros leídos: {{num_readed}} </a>      
              {% else %}
              <a href="" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
              {% endif %}</li>
              <li><a class="btn btn-default" role="button" href="">En un total de: {{num_genres}} géneros  </a>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Únete y disfruta</h2>
          <p class="lead">Reserva y renueva tus prestamos desde casa. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
      <p class="m-0 text-center text-white">Copyright &copy; Local Library 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
<!--
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
  <!-- Plugin JavaScript -->
  <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

   Custom JavaScript for this theme 
  <script src="js/scrolling-nav.js"></script>-->

</body>

</html>
